* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
    outline: none;
}

body {
    background-image: url("assets/background.png");
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 390px;
    height: 30px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    background-color: #003329;
    color: #ffff;
    font-size: 13px;
    padding: 0px 10px;
    float: right;
    cursor: pointer;
    font-weight: 600;

}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.task-list {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #b4e772;
    text-decoration: line-through;
}